/* app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4 {
    @apply font-bold;
  }
  .clusterIcon{
    @apply w-10 h-10 rounded-full flex justify-center items-center flex-col;
  }
  .clusterIcon .count {
    @apply w-8 h-8 rounded-full bg-opacity-40
    flex justify-center items-center text-center text-xs font-medium text-gray-700;
  }
  .cluster1 {
    @apply bg-green-500 bg-opacity-30;
  }
  .cluster1 .count {
    @apply bg-green-500 bg-opacity-70;
  }
  .cluster10 {
    @apply bg-yellow-500 bg-opacity-30;
  }
  .cluster10 .count {
    @apply bg-yellow-500 bg-opacity-70;
  }
  .cluster100 {
    @apply bg-red-500 bg-opacity-30;
  }
  .cluster100 .count {
    @apply bg-red-500 bg-opacity-70;
  }

  .spot-icon{}
  .spot-icon-line{}
  .spot-icon-length{
    @apply bg-gray-300 border border-gray-400 text-gray-800 text-xs p-0.5 shadow-md rounded-sm;
  }
  .spot-icon-area{}
}

#svelte{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}


